<!DOCTYPE html>
<html>
<head>
    <title>IT'S THE FINAL COUNTDOWN</title>
    <link rel="stylesheet" type="text/css" href="/static/css/colorTest.css">
    <link rel="stylesheet" media="screen" href="http://openfontlibrary.org/face/glacial-indifference" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src='static/js/jquery-1.11.3.js'></script>
</head>
<body>
<ul class="countdown">
      <li>
        <span class="days"></span>
        <p class="timeRefDays"></p>
      </li>
      <li>
        <span class="hours"></span>
        <p class="timeRefHours"></p>
      </li>
      <li>
        <span class="minutes"></span>
        <p class="timeRefMinutes"></p>
      </li>
      <li>
        <span class="seconds"></span>
        <p class="timeRefSeconds"></p>
      </li>
</ul>

<div class="bar11"></div>
<div class="bar12"></div>
<div class="bar13"></div>
<div class="bar14"></div>
<div class="bar15"></div>
<div class="bar16"></div>
<div class="bar17"></div>

<div class="bar21"></div>
<div class="bar22"></div>
<div class="bar23"></div>
<div class="bar24"></div>
<div class="bar25"></div>
<div class="bar26"></div>
<div class="bar27"></div>

<div class="bar31"></div>
<div class="bar32"></div>
<div class="bar33"></div>
<div class="bar34"></div>
<div class="bar35"></div>
<div class="bar36"></div>
<div class="bar37"></div>

<div class="bar41"></div>
<div class="bar42"></div>
<div class="bar43"></div>
<div class="bar44"></div>
<div class="bar451"></div>
<div class="bar452"></div>
<div class="bar453"></div>
<div class="bar46c"></div>
<!--
<script type="text/javascript" src='/static/js/cd.js'></script>
-->
</body>