<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Thesis Manager</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script type="text/javascript" src="/static/js/jquery-1.11.3.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>

<!--
<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Thesis Manager</a>
        </div>
      </div>
</div>
-->
        <nav class="navbar  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Thesis Manager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-right">
                    <p class="welcome"><a href="{{ url|safe }}">{{ url_linktext }}</a></p>
                </div>
                <div class="divider navbar-right">|</div>
                <div class="navbar-right">
                    <p class="welcome">Hi! Welcome {{user.nickname()}} </p>
                </div>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>
        <input type="search" id="searcher" placeholder="browse thesis or students">
        <button class="primary-btn btn" id="search_btn">Search</button>
        <div id='rel_th_container' class='list-inline'>
            <ul id='searched' style='list-style-type:none'>

            </ul>
        </div>

        <div>
            <div><a href="/thesis/list"><button class="btn-primary btn">List Thesis</button></a></div>
            <div><a href="/faculty/list"><button class="btn-primary btn">List Faculty</button></a></div>
            <div><a href="/student/list"><button class="btn-primary btn">List Student</button></a></div>
            <div><a href="/university/list"><button class="btn-primary btn">List University</button></a></div>
            <div><a href="/college/list"><button class="btn-primary btn">List College</button></a></div>
            <div><a href="/thesis/create"><button class="btn-primary btn">Create Thesis</button></a></div>
            <div><a href="/faculty/create"><button class="btn-primary btn">Create Faculty</button></a></div>
            <div><a href="/student/create"><button class="btn-primary btn">Create Student</button></a></div>
            <form action="/csvimport" method="post">
                <input type="file" name="csv_name" class="form-control">
                <div><button class="btn-primary btn">CSV import</button></div>
            </form>
            <div><a href="/university/create"><button class="btn-primary btn">Create University</button></a></div>
            <div><a href="/college/create"><button class="btn-primary btn">Create College</button></a></div>
            <div><a href="/department/create"><button class="btn-primary btn">Create Department</button></a></div>
        </div>

        <script type="text/javascript" src="/static/js/myjs.js"></script>
    </body>
</html>